<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
	<title>商城</title>
	<link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{/css/index.css}">
	<script type="text/javascript" src="../static/js/index.js" th:src="@{/js/index.js}" ></script>
</head>
<body>
	<!-- --------------------页眉板块-------------------- -->
	<div class="header">
		<!-- 设置logo -->
		<div class="logo">
			<img src="../static/images/logo.png" th:src="@{/images/logo.png}">
		</div>
		<!-- 设置菜单 -->
		<div class="menu" onmouseleave="show_menu1()">  
			<div class="menu_title" onclick="show_menu()">
				<a href="#">内容分类</a></div>
			<ul id="menu1" >
				<li>第一类</li>
				<li>第二类</li>
			</ul>
		</div>
		<!-- 设置用户登录 -->
		<div class="auth">
			<ul>
				<li><a href="login.html" th:href="@{/login.html}">登录</a></li>
			</ul>
		</div>
	</div>

	<!-- --------------------正文板块-------------------- -->
	<div class="content">
		<!-- 设置广告栏 -->
		<div class="banner">
			<img src="../static/images/welcome.png" class="banner_img" th:src="@{/images/welcome.png}">
		</div>
		<div class="img_content">
			<ul th:each="l:${list}">
				<li>
					<img style="width: 360px;height: 240px" src="../static/images/show.jpg" th:src="@{/images/{imgname}(imgname=${l.picture})}">
					<div class="info">
						<h3 th:text="${l.name}"></h3>
						<p th:text="${l.introduce}"></p>
						<div class="img_btn">
							<div class="price" th:text="${l.address}"></div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!-- 分页 -->
		<div class="page_nav">
			<ul>
				<li><a href="/toIndex?index=0">首页</a></li>
				<li><a href="/toIndex?index=0">1</a></li>
				<li><a href="/toIndex?index=1">2</a></li>
				<li><a href="/toIndex?index=2">3</a></li>
				<li><a href="/toIndex?index=2">尾页</a></li>
			</ul>
		</div>

	</div>
	<!-- --------------------页脚板块-------------------- -->
	<div class="footer">
		<p class="p2">© 2020 POWERED BY <span>Howard</span></p>
	</div>
</body>
</html>

