<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
	<title>商城</title>
	<link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{/css/index.css}">
	<script type="text/javascript" src="../static/js/index.js" th:src="@{/js/index.js}" ></script>
</head>
<body>
	<!-- --------------------页眉板块-------------------- -->
	<div class="header">
		<!-- 设置logo -->
		<div class="logo">
			<img src="../static/images/logo.png" th:src="@{/static/images/logo.png}">
		</div>
		<!-- 设置菜单 -->
		<div class="menu" onmouseleave="show_menu1()">  
			<div class="menu_title" onclick="show_menu()">
				<a href="#">内容分类</a></div>
			<ul id="menu1" >
				<li>第一类</li>
				<li>第二类</li>
			</ul>
		</div>
		<!-- 设置用户登录 -->
		<div class="auth">
			<ul>
				<li><a href="login.html" th:href="@{/login.html}">登录</a></li>
			</ul>
		</div>
	</div>

	<!-- --------------------正文板块-------------------- -->
	<div class="content">
		<!-- 设置广告栏 -->
		<div class="banner">
			<img src="../static/images/welcome.png" class="banner_img" th:src="@{/static/images/welcome.png}">
		</div>
		<div class="img_content">
			<ul>
				<li>
					<img src="../static/images/show.jpg" class="img_li" th:src="@{/static/images/show.jpg}">
					<div class="info">
						<h3>show</h3>
						<p>
							图片描述可以分为多种，这里是一个关于展示的板块，这里是一个关于展示的板块，这里是一个关于展示的板块，这里是一个关于展示的板块，这里是一个关于展示的板块
						</p>
						<div class="img_btn"> 
							<!-- 价格，购买logo -->
							<div class="price">¥ 2300</div>
						</div>
					</div>
				</li>

				<li>
					<img src="../static/images/show.jpg" class="img_li" th:src="@{/static/images/show.jpg}">
					<div class="info">
						<h3>show</h3>
						<p>
							图片描述可以分为多种，这里是一个关于展示的板块，这里是一个关于展示的板块，这里是一个关于展示的板块，这里是一个关于展示的板块，这里是一个关于展示的板块
						</p>
						<div class="img_btn"> 
							<!-- 价格，购买logo -->
							<div class="price">¥ 2300</div>
						
						</div>
					</div>
				</li>

				<li>
					<img src="../static/images/show.jpg" class="img_li" th:src="@{/static/images/show.jpg}">
					<div class="info">
						<h3>show</h3>
						<p>
							图片描述可以分为多种，这里是一个关于展示的板块，这里是一个关于展示的板块，这里是一个关于展示的板块，这里是一个关于展示的板块，这里是一个关于展示的板块
						</p>
						<div class="img_btn"> 
							<!-- 价格，购买logo -->
							<div class="price">¥ 2300</div>
							
						</div>
					</div>
				</li>

				<li>
					<img src="../static/images/show.jpg" class="img_li" th:src="@{/static/images/show.jpg}">
					<div class="info">
						<h3>show</h3>
						<p>
							图片描述可以分为多种，这里是一个关于展示的板块，这里是一个关于展示的板块，这里是一个关于展示的板块，这里是一个关于展示的板块，这里是一个关于展示的板块
						</p>
						<div class="img_btn"> 
							<!-- 价格，购买logo -->
							<div class="price">¥ 2300</div>
						</div>
					</div>
				</li>

				<li>
					<img src="../static/images/show.jpg" class="img_li" th:src="@{/static/images/show.jpg}">
					<div class="info">
						<h3>show</h3>
						<p>
							图片描述可以分为多种，这里是一个关于展示的板块，这里是一个关于展示的板块，这里是一个关于展示的板块，这里是一个关于展示的板块，这里是一个关于展示的板块
						</p>
						<div class="img_btn"> 
							<!-- 价格，购买logo -->
							<div class="price">¥ 2300</div>
						</div>
					</div>
				</li>

				<li>
					<img src="../static/images/show.jpg" class="img_li" th:src="@{/static/images/show.jpg}">
					<div class="info">
						<h3>show</h3>
						<p>
							图片描述可以分为多种，这里是一个关于展示的板块，这里是一个关于展示的板块，这里是一个关于展示的板块，这里是一个关于展示的板块，这里是一个关于展示的板块
						</p>
						<div class="img_btn"> 
							<!-- 价格，购买logo -->
							<div class="price">¥ 2300</div>
							
						</div>
					</div>
				</li>
			</ul>
			
		</div>
		<!-- 分页 -->
		<div class="page_nav">
			<ul>
				<li><a href="#">首页</a></li>
				<li><a href="#">上一页</a></li>

				<li><span class="first_page">1</span></li>

				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">...</a></li>
				<li><a href="#">98</a></li>
				<li><a href="#">99</a></li>

				<li><a href="#">下一页</a></li>
				<li><a href="#">尾页</a></li>
			</ul>
		</div>
		
	</div>
	<!-- --------------------页脚板块-------------------- -->
	<div class="footer">
		<p class="p2">© 2020 POWERED BY <span>BiDi</span></p>
	</div>
</body>
</html>

