<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
	<title>login</title>
	<link rel="stylesheet" href="../static/css/dmaku.css" th:href="@{/css/dmaku.css}">
</head>
<body>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script src="../static/js/dmcont_formsaku.js" th:src="@{/js/dmaku.js}"></script>

<div class="cotn_principal">
  <div class="cont_centrar">
    <div class="cont_login">
      <div class="cont_info_log_sign_up">
        <div class="col_md_login">
          <div class="cont_ba_opcitiy">
            <h2>登录</h2>
            <p>已有账号，直接登录！</p>
            <button class="btn_login" onclick="toLog()">登录</button>
          </div>
        </div>
        <div class="col_md_sign_up">
          <div class="cont_ba_opcitiy">
            <h2>注册</h2>
            <p>还没有账号？免费注册！</p>
            <button class="btn_sign_up" onclick="toReg()">注册</button>
          </div>
        </div>
      </div>
      <div class="cont_back_info">
        <div class="cont_img_back_grey"> <img src="../static/images/po.jpg" alt="" th:src="@{/images/po.jpg}"/> </div>
      </div>
      <div class="cont_forms" >
        <div class="cont_img_back_"> <img src="../static/images/po.jpg" alt="" th:src="@{/images/po.jpg}"/> </div>
        <div class="cont_form_login">
          <a href="#" onclick="ocultar_login_sign_up()" >X</a>
          <h2>登录</h2>
          <form>
            <input type="text" name="phone" placeholder="Phone" />
            <input type="password" name="password" placeholder="Password" />
            <button class="btn_login" onclick="cambiar_login(phone.value,password.value)">登录</button>
          </form>
        </div>
        <div class="cont_form_sign_up"> <a href="#" onclick="ocultar_login_sign_up()">X</a>
          <h2>注册</h2>
          <form>
            <input type="text" name="phone" placeholder="Phone" />
            <input type="text" name="username" userplaceholder="User" />
            <input type="password" name="password" placeholder="Password" />
            <input type="password" placeholder="Confirm Password" />
            <button class="btn_sign_up" onclick="cambiar_sign_up(phone.value,username.value,password.value)">注册</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
